<h4>All Registered Students</h4>
<hr>
    <div class="row">
      <div class="col-md-12">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="FullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  FullName </th>
              <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
            </ng-container>
            <ng-container matColumnDef="EmailId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> EmailId </th>
              <td mat-cell *matCellDef="let element"> {{element.EmailId}} </td>
            </ng-container>
            <ng-container matColumnDef="Contactno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Contactno </th>
              <td mat-cell *matCellDef="let element"> {{element.Contactno}} </td>
            </ng-container>
            <ng-container matColumnDef="CourseName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CourseName </th>
                <td mat-cell *matCellDef="let element"> {{element.CourseName}} </td>
              </ng-container>
              <ng-container matColumnDef="SectionNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> SectionNo </th>
                  <td mat-cell *matCellDef="let element"> {{element.SectionNo}} </td>
                </ng-container>
                <ng-container matColumnDef="Cgpa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cgpa </th>
                    <td mat-cell *matCellDef="let element"> {{element.Cgpa}} </td>
                  </ng-container>
                  <ng-container matColumnDef="Semester">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Semester </th>
                      <td mat-cell *matCellDef="let element"> {{element.Semester}} </td>
                    </ng-container>

            <!-- EditAction Column -->



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
