<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-primary" style="
    height: 152px;
">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown="">

        </div>

        <h2>Projects</h2>
        <div class="text-value">{{coordinatorDashboard.TotalProjects}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary" style="
      height: 152px;
  ">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown="">

          </div>

          <h2>Annoucement</h2>
          <div class="text-value">{{coordinatorDashboard.TotalAnnoucement}}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary" style="
        height: 152px;
    ">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown="">

            </div>

            <h2>Assessment</h2>
            <div class="text-value">{{coordinatorDashboard.TotalAssessment}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-primary" style="
          height: 152px;
      ">
            <div class="card-body pb-0">
              <div class="btn-group float-right" dropdown="">

              </div>

              <h2>Groups</h2>
              <div class="text-value">{{coordinatorDashboard.TotalGroups}}</div>
            </div>
          </div>
        </div>
</div>



