<div class="row">
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-primary" style="
    height: 152px;
">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown="">
          
        </div>

        <h2> Role</h2>
        <div class="text-value">{{adminDashboard.TotalRole}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary" style="
      height: 152px;
  ">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown="">
            <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
              <i class="icon-settings"></i>
            </button><!---->
          </div>

          <h2> Department</h2>
          <div class="text-value">{{adminDashboard.TotalDepartment}}</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary" style="
        height: 152px;
    ">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown="">
              <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
                <i class="icon-settings"></i>
              </button><!---->
            </div>

            <h2> Coordinator</h2>
            <div class="text-value">{{adminDashboard.TotalCoordinator}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
          <div class="card text-white bg-primary" style="
          height: 152px;
      ">
            <div class="card-body pb-0">
              <div class="btn-group float-right" dropdown="">
                <button class="btn btn-transparent dropdown-toggle p-0" dropdowntoggle="" type="button" aria-haspopup="true">
                  <i class="icon-settings"></i>
                </button><!---->
              </div>

              <h2> Program</h2>
              <div class="text-value">{{adminDashboard.TotalProgram}}</div>
            </div>
          </div>
        </div>
</div>


