
<div class="container">
    <h2>Epic Example</h2>
    <div class="form-group">
        <label for="Epic">Epic</label>
        <select required name="Epic" class="form-control" name="Epic"  (change)="navigateTo($event.target.value)" [(ngModel)]="epicModel.sectionId">
          <option value=''>Please select Value</option>
          <option *ngFor="let pro of courseListViewModel" [ngValue]="pro.courseId" [value]="pro.groupId">
            {{pro.courseName}}--{{pro.sectionNo}}
          </option>
      </select>
      </div>


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>


    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
          <!-- Modal body -->
          <div class="modal-body">
              <div class="form-group">
                  <label for="company">DepartmentName</label>
                  <input class="form-control" id="DepartmentName" name="DepartmentName" placeholder="Enter your DepartmentName" type="text">
                </div>
                <div class="form-group">
                  <label for="vat">Description</label>
                  <textarea class="form-control" id="CourseCode" name="Description"  placeholder="Enter your Description"  rows="9" type="text">
               </textarea>
                  </div>

          </div>
</form>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>
